{
  "branches": ["main", "develop"],
  "tagFormat": "frontend-v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/gitlab",
    [
      "@semantic-release/git",
      {
        "assets": ["package.json"]
      }
    ]
  ]
}
